#webpage-stack {
	--margin-size: 6px;

	border-bottom: var(--margin-size) solid var(--av-tabbar-bg);
	border-right: var(--margin-size) solid var(--av-tabbar-bg);

	& .webpageview {
		border-radius: 15px;
		border: var(--margin-size) solid var(--av-tabbar-bg);
		margin: calc(var(--margin-size) - 2 * var(--margin-size));
		overflow: hidden;
	}
}

/* Hide right border when Panel is visible */
:root:has(#panels-container.icons) #webpage-stack {
	border-right: 0px;
}

/* TODO: Work with tiled tabs */
/* Horizontally at least */
