#webview-container {
	padding: 0 !important;
}

#webpage-stack {
	--margin-size: 6px;

	border-bottom: var(--margin-size) solid var(--av-tabbar-bg);
	border-right: var(--margin-size) solid var(--av-tabbar-bg);

	transition: border 200ms;

	/* Hacks to make rounded corners in webpages */
	& .webpageview:not(.tiled) {
		border-radius: 15px;
		border: var(--margin-size) solid var(--av-tabbar-bg);
		margin: calc(var(--margin-size) - 2 * var(--margin-size));
		overflow: hidden;
	}
}

/* Hide right border when Panel is visible */
:root:has(#panels-container:not(.switcher)) #webpage-stack {
	border-right: 0px;
}

.tiled {
	gap: var(--margin-size) !important;
}

#browser.address-top-off #webpage-stack {
	border-top: var(--margin-size) solid var(--av-tabbar-bg);
}

/* TODO: Work with tiled tabs */
/* Horizontally at least */

/* Remove native margins for tiles pages */
#browser .tile:has(> .tiled.webpageview) {
	margin: 0 !important;
}

/* Slide Bar, when tiled horizontally */
.SlideBar--FullHeight {
	min-width: var(--margin-size) !important;
	background-color: var(--av-tabbar-bg);
	/* TODO: Find out how this is calculated, then change it to variable */
	right: -6px !important;
}

/* Remove slight shadow when tiled page has focus, this cause issues with rounded corners */
.webpageview.tiled.active {
	box-shadow: none !important;
}
