/* Top Bar, containing buttons & address bar */
.mainbar {
  background-color: var(--av-tabbar-bg) !important;
  border: transparent !important;
}

/* Address Bar */
.UrlBar-AddressField {
	background-color: var(--av-address-bar-bg) !important;
}
