:root {
	/* Internal variables */
	--tabbar-width: 42px;
	--tabbar-width-expanded: 300px;
	--tab-height: 30px;
	--tab-width: 30px;
	--margin: 6px;
	--animation-duration: 300ms;
	/* Slight delay to fix Tab Bar being stuck when moving cursor in from different screen */
	--delay: 20ms;
}

/* Left margin in place of tabbar */
#webview-container {
	transition: margin var(--animation-duration);
	margin-left: var(--tabbar-width);
}

/* Bigger left margin if Tab Stack is active */
:root:has(#tabs-subcontainer) #webview-container {
	margin-left: calc(2 * var(--tabbar-width));
}

/* Browser when in player mode */
#browser.inner {
	--tabbar-width: 0px;

	& #webview-container {
		margin: var(--margin);
	}

	& #webpage-stack {
		border: 0px solid transparent !important;
	}
}

/* Browser when in fullscreen, not player mode */
#browser.fullscreen:not(.inner) #webview-container {
	margin-left: var(--tabbar-width) !important;
}

/* Fixes for browser fullscreen mode, not player fullscreen */
#header {
	& .tabbar-wrapper {
		width: 42px;
		height: 100vh;
	}

	& .tabs-tabbar-container,
	#tabs-container {
		display: flex !important;
	}

	& #tabs-container {
		flex-direction: column !important;
	}
}

/* Disable draggable button that changes vertical bar width */
#tabs-tabbar-container .SlideBar {
	display: none;
}

/* Exclude tabbar from normal content flow */
.tabbar-wrapper {
	position: absolute !important;
	z-index: 10;

	background: linear-gradient(
		45deg,
		rgba(203, 26, 237, 1) 0%,
		rgba(0, 130, 157, 1) 100%
	);
	background-size: 100vw;

	transition: width var(--animation-duration);
}

/* Button for switching workspaces */
.button-toolbar.workspace-popup {
	width: var(--tab-width) !important;
	transition: width var(--animation-duration);
}

/* Container for tabs */
#tabs-tabbar-container {
	width: var(--tabbar-width) !important;
	background-color: unset !important;
	transition: width var(--animation-duration) !important;

	&:hover {
		width: var(--tabbar-width-expanded) !important;
		transition-delay: var(--delay) !important;
	}
}

/* Container for tabs, when there is Tab Stack active */
#tabs-tabbar-container:has(#tabs-subcontainer) {
	width: calc(2 * var(--tabbar-width)) !important;

	&:hover {
		width: calc(var(--tabbar-width-expanded) + var(--tabbar-width)) !important;
	}
}

/* Normal Tabs container */
#tabs-container {
	min-width: var(--tabbar-width) !important;
	max-width: var(--tabbar-width) !important;
	transition: min-width var(--animation-duration);

	&:hover {
		--tab-width: 288px;

		min-width: var(--tabbar-width-expanded) !important;
		transition-delay: var(--delay) !important;
	}
}

/* Stacked Tabs container */
#tabs-subcontainer {
	width: var(--tabbar-width) !important;
	min-width: var(--tabbar-width) !important;
	max-width: var(--tabbar-width) !important;
	background-color: unset !important;
	box-shadow: none !important;
	transition: width var(--animation-duration),
		min-width var(--animation-duration), max-width var(--animation-duration);

	&:hover {
		--tab-width: 288px;

		width: var(--tabbar-width-expanded) !important;
		min-width: var(--tabbar-width-expanded) !important;
		max-width: var(--tabbar-width-expanded) !important;
	}
}

/* Add margin on top of tabbar */
.tab-strip {
	margin-top: var(--margin) !important;

	/* Hide scrollbar when tabs are overflowing */
	&::-webkit-scrollbar {
		display: none;
	}
}

/* Fix for different tab heights and spacing */
.tab-strip > span {
	display: flex;
	/* margin-bottom: 6px !important; */
}

/* Tab wrapper - for positioning, I guess*/
.tab-position {
	width: var(--tab-width) !important;
	height: var(--tab-height) !important;
	margin-left: 6px;

	transition: width var(--animation-duration);
	/* transform: translateX(calc(var(--PositionX) * 1.2)) translateY(calc(var(--PositionY) * 1.2)) !important; */

	&:hover {
		transition: width calc(var(--animation-duration) + 20ms);
		transition-delay: var(--delay) !important;
	}
}

.tab {
	margin: 0 !important;
}

.tab .favicon {
	transform: none !important;
}

.tab-position .tab .tab-header {
	/* flex: 0 0 var(--tab-width) !important; */
	padding-left: 6px !important;
	gap: 6px;
	margin: 0 !important;
	border: 0 !important;
}

/* New Tab button */
.button-toolbar.newtab {
	left: 0 !important;
	width: 100%;
}
